<%- include('header') %>
<%- include('navbar') %>
<hr>
<a href="/">home</a>
<br /><a href="/logout">Logout</a>
<hr>
<p>Provider: <%= user.provider %><br/> 
ID: <%= user.id %><br/>
<% if (user.username) { %>
Username: <%= user.username %><br/>
<% } %>
Display name: <%= user.displayName %><br/>
<% if (user.photos && user.photos.length>0 && user.photos[0].value) { %>
Photo: <img src="<%= user.photos[0].value %>" /><br />
<% } %>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
</p>
<%- htmlcontent %>
<%- include('footer') %>